<div>
  <h2>{{ title }}</h2>
  <button class="btn" mat-raised-button (click)="opendialog()">Add Employee</button>
  <!-- Filter Input -->
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>

  <!-- Employee Table -->
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Full Name Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="delete(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="opendialog(element)">
          <mat-icon>update</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <!-- Paginator -->
  <mat-paginator [length]="[length]" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of products">
  </mat-paginator>
</div>
